.countries {
  padding-left: 5vw;
  padding-top: 10vh;
  min-height: 100vh;
  padding-right: 5vw;
}

.countries .back {
  padding-bottom: 5vw;
}


.countries .back button {
  padding-block: 1vh;
  padding-inline: 4vw;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
}

.countries .back i{
    padding-right: 0.5vw;
}


.countries .back button#dark{
    background-color:var(--Dark-Blue);
  }
  
.countries .information {
  display: flex;
}
.countries .information .flags{
    width:45vw;
}
.countries .information .details {
  padding-left: 10vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.countries .information .details .countryName {
  font-weight: 800;
  padding-bottom: 2vh;
  font-size: 2rem;
}

.countries .information .details .title {
  font-weight: 600;
}
.countries .information .details p{
    font-size: 1.2rem;
}


.countries .information .details .grid {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
grid-column-gap: 8vw;
grid-row-gap: 8vh;
}

.countries .information .details .grid .grid-a{
    grid-area: a;
}

.countries .information .details .grid .grid-b{
    grid-area: b;
}

.countries .information .details .grid .grid-c{
    grid-area: c;
}
.countries .information .details .grid .grid-c button{
    margin-inline: 10px;
    padding-block: 1vh;
    padding-inline: 1.5vw;
    border-radius: 5px;
    border: none;
    box-shadow:2px 2px 5px rgba(5, 5, 5, 0.413);
    margin-bottom: 20px;

}

.loading{
    display: flex;
    justify-content: center;
    width:100vw
}

@media(max-width:750px){
    .countries .information {
        display: flex;
        flex-direction: column;
      }
    .countries .information .details {
        padding-left: 0;
        padding-top: 5vh;
    }
    .countries .information .details .grid {
        display: grid;
        grid-template-areas:
          "a"
          "b" 
          "c";
      grid-row-gap: 4vh;
      }

      .countries .information .flags{
        width:100%;
    }
}