/* .select{
    border: 0;
    padding: 1vw;
}*/
input{
    border: 0;
    padding-left: 1vw;
    width:100%;
}
input:focus{
  outline: none;
}

.search {
    color: black;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
    display: flex;
    padding: 2vh;
    width:30%;
}

/*
.countries .formId {
  display: flex;
  /* justify-content: start; */
/* } */
/* .countries .formId .drops{
  display: flex;
} */
.countries {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    
  }
  
  .countries#dark{
    background-color: var(--Very-Dark-Blue);
  }
  
  .countries#light{
    background-color: var(--Very-Light-Gray);
  }
  .countries .formId .drops .dropdown{
  padding-left: 5vw;
}
  .countries .formId .dropdown select{
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
    background-color: #ffffff;
      color: rgb(10, 10, 10);
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  .countries .formId .dropdown select#dark{
    background-color:var(--Dark-Blue);
  } 
  .formId{
    display:flex;
    justify-content: space-between;
  }
  .drops{
    display:flex;
  }

   
  @media(max-width:750px){
    .countries .formId{
      display: flex;
      flex-direction: column;
      width: 85vw;
    }
    .search{
      display: flex;
      margin-bottom: 2vh;
      width:80vw;
      padding: 10px;
    }
    .search i{
      padding: 0;
    }
    .drops{
      flex-direction: column;
    }
  
    .countries .formId .dropdown{
       margin-bottom: 2vh;
    }
    .countries .formId .drops .dropdown{
      padding-left: 0;
    }
  
  }