
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-mode: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

*{
  padding: 0;
  margin: 0;
  font-family:"Nunito Sans", sans-serif;
}
body{
  background-color: var(--Very-Light-Gray);
}
body#dark{
  background-color: var(--Very-Dark-Blue);
}
.cardContainer{
  display: flex;
  /* flex:auto; */
  flex-wrap: wrap;
  padding-top: 5vh;
  min-height: 100vh;
}

.countryCard{
  margin-right: 4vw;
  margin-bottom: 3vh;
  padding-bottom: 2vh;
  height: 320px;
  width:350px;
  box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
  border-radius: 5px;
  overflow: hidden;
}

.countryCard ul{
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  padding-top: 2vh;
  padding-left: 1vw;
  /* padding-right: 2vw; */
  line-height: 1.5;
}
.countryCard .title{
  font-weight: 600;
}

.countryCard img{
  width:100%;
  height:200px;
}

.countryCard .countryName{
  padding-left: 1vw;
    font-weight: 800;
}

.countryCard#dark{
  background-color: var(--Dark-Blue);
}




@media(max-width:750px){
  .countries .countryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0vw;
  }

}