.nav {
    display: flex;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.413);
    position: relative;
    z-index: 1;
  }
  .heading {
    padding-top: 3vh;
    margin-right: auto;
    
    font-weight: 800;
  }

  .mode {
    padding-left: 1vw;
    font-weight: 800;
    cursor: pointer;
  }

  .theme {
    display: flex;
    padding-top: 3vh;
  }
  .mode p {
    padding-left: 1vw;
  }


  #light {
    background-color: var(--White);
  }

  #dark {
    background-color: var(--Dark-Blue);
    color: var(--White);
  }